*{
    font-family: Roboto Mono, monospace;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #624365;
}

.btn-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #8b5d80;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.btn-socials:hover{
    background-color: transparent;
    transition-duration: 50ms;
}

.btn-socials:active {
    background-color: #624365;
    transition-duration: 50ms;
}

.btn-text{
    margin: 10px;
}

#socials-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: beige;
    border: 5px solid black;
    border-radius: 5px;
}



@media screen and (max-width: 600px){
    #socials-container{
        display: block;
        
    }

    .btn-text{
        display: none;
    }

    
}
