body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #624365;
    font-family: Roboto Mono, monospace;
}

p{
    text-align: center;
}


.button {
    font-family: Roboto Mono, monospace;
    color: black;
    background-color: beige;
    width: 200px;
    font-size: 20px;
    border: 3px solid;
    border-color: black;
    border-radius: 3px;
    padding: 5px;
}

.button:hover{
    background-color: #8b5d80;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    transition-duration: 50ms;
}

.button:active {
    background-color: #624365;
    transition: linear;
    transition-duration: 50ms;
}

#socials-container {
    background-color: beige;
    display: grid;
    border: 3px solid;
    border-color: black;
    border-radius: 3px;
}